### Target Vendor/Product
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7620
CONFIG_FIRMWARE_PRODUCT_ID="TL_EC220_G5-V2"

############################################################
### Linux kernel configuration
############################################################
CONFIG_FIRMWARE_CPU_600MHZ=y
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7

### IPv6 необходим для сборки сетевых компонентов BusyBox
CONFIG_FIRMWARE_ENABLE_IPV6=y

CONFIG_FIRMWARE_INCLUDE_XFRM=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

############################################################
### Userspace configuration
############################################################
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### Актуальные библиотеки (OpenSSL 3.5 для работы Stubby/DoT)
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_35=y

### Базовые утилиты (необходимы для корректной работы BusyBox)
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_SFTP=y
CONFIG_FIRMWARE_INCLUDE_CURL=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
CONFIG_FIRMWARE_INCLUDE_LUA=y

### DNS и Обход блокировок
CONFIG_FIRMWARE_INCLUDE_STUBBY=y
CONFIG_FIRMWARE_INCLUDE_WPAD=y
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Netfilter (база для работы Zapret) - возвращаем 'm' для стабильности
CONFIG_NETFILTER_NETLINK_QUEUE=m
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=m
CONFIG_IP_NF_QUEUE=m
CONFIG_IP6_NF_FILTER=y
CONFIG_IP6_NF_TARGET_REJECT=y
CONFIG_IP6_NF_MANGLE=m
CONFIG_IP6_NF_QUEUE=m
CONFIG_BRIDGE_NF_EBTABLES=m

### Оптимизация размера (критично для сборки в GitHub Actions)
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
